/* Style pour le body */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Style pour le menu utilisant une balise nav */
nav {
    background-color: #1e2a64;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #fff;
    color: #1e2a64;
}

/* Style pour le message d'erreur */
.error {
    background-color: #ffcccc;
    color: #cc0000;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.success {
    background-color: #7fdd4c;
    color: #fff;
    padding: 10px;
}

/* Style pour l'affichage des velo */
.velo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.velo-item {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.velo-model {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.velo-price {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.velo-date {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.velo-image {
    text-align: center;
    margin-bottom: 10px;
}

.velo-image img {
    max-width: 100%;
    max-height: 200px;
}

.velo-reservation {
    text-align: center;
}

.velo-reservation form {
    display: inline-block;
}

.velo-reservation input[type="number"] {
    width: 50px;
    margin-right: 10px;
}

.velo-reservation button {
    background-color: #1e2a64;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.velo-reservation button:hover {
    background-color: #fff;
    color: #1e2a64;
}
